## Le chien a mangé les intras?
Le prof de INF1015 a la belle habitude de corriger les intras des élèves de deuxième année en avance. Cependant, exceptionnellement, cette année, il décide de se prendre à la dernière minute. Avec le stress du département de génie logiciel/informatique et les étudiants énervés sur Discord, le prof se perd dans ses fichiers et perd les intras de 10 étudiants!

Votre tâche est de déterminer si les étudiants qui ont perdu leurs intras ont réussi ou échoué l'intra, en utilisant le jeu de données disponible qui comprend plus de 500 étudiants.
Vous devez prédire la colonne `passed` dans le fichier `our_students.csv`

Importation des librairies et des données :

In [1]:
import pandas as pd
import numpy as np
# Librairies de ML recommandées
# from sklearn.model_selection import train_test_split
# from xgboost import XGBClassifier

data_set_etudiants = pd.read_csv("sample_students.csv")
etudiants_a_predire = pd.read_csv("our_students.csv")

Quelques informations supplémentaires :

Bonne chance!

In [8]:
# Commencez votre code ici
data_set_etudiants.head(10)

,international,hours_study,missed_classes,gpa,showers_per_week,does_smoke,does_homework,has_stress,avg_sleep,confidence,passed
0,1,0.25,3,3.26,4,0,1,1,6.67,medium,1
1,0,8.70,14,1.32,7,0,0,0,8.00,low,0
2,0,7.95,5,1.18,6,0,0,0,4.30,high,1
3,0,7.57,7,2.33,7,1,1,0,3.23,medium,1
4,0,11.45,14,1.49,3,0,1,1,4.35,low,0
5,0,16.97,1,1.67,3,0,1,0,4.64,high,1
6,0,15.87,0,2.63,6,0,1,0,2.43,medium,1
7,0,1.64,12,3.41,0,0,1,0,1.89,medium,0
8,0,10.09,2,1.88,3,0,1,0,4.59,medium,1
9,0,11.78,5,3.15,2,0,1,0,5.16,medium,0

In [9]:
etudiants_a_predire

,international,hours_study,missed_classes,gpa,showers_per_week,does_smoke,does_homework,has_stress,avg_sleep,confidence,passed
0,0,7.84,1,1.73,2,1,1,0,5.66,high,corrupted
1,1,3.26,12,3.80,3,0,1,1,4.01,medium,corrupted
2,0,3.74,11,2.40,3,1,1,1,3.20,medium,corrupted
3,1,17.45,0,2.98,2,0,1,0,6.24,medium,corrupted
4,0,1.62,9,3.99,3,0,1,1,5.52,medium,corrupted
5,0,4.99,11,2.92,6,0,1,1,7.89,medium,corrupted
6,1,5.24,11,3.17,3,0,1,0,7.95,high,corrupted
7,0,11.04,12,3.03,4,0,0,0,7.49,low,corrupted
8,0,16.41,4,2.82,2,1,0,0,7.20,medium,corrupted
9,0,3.87,1,3.01,2,0,0,0,2.60,high,corrupted

In [11]:
data_set_etudiants.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   international     500 non-null    int64
 1   hours_study       500 non-null    float64
 2   missed_classes    500 non-null    int64
 3   gpa               500 non-null    float64
 4   showers_per_week  500 non-null    int64
 5   does_smoke        500 non-null    int64
 6   does_homework     500 non-null    int64
 7   has_stress        500 non-null    int64
 8   avg_sleep         500 non-null    float64
 9   confidence        500 non-null    object
 10  passed            500 non-null    int64
dtypes: float64(3), int64(7), object(1)
memory usage: 43.1+ KB

In [12]:
data_set_etudiants[data_set_etudiants['confidence'] == 'low']

,international,hours_study,missed_classes,gpa,showers_per_week,does_smoke,does_homework,has_stress,avg_sleep,confidence,passed
1,0,8.70,14,1.32,7,0,0,0,8.00,low,0
4,0,11.45,14,1.49,3,0,1,1,4.35,low,0
10,0,11.15,10,1.77,3,0,0,0,5.70,low,0
29,0,18.32,2,3.13,1,0,0,1,2.46,low,1
30,0,0.88,11,3.66,0,0,1,1,2.50,low,1
...,...,...,...,...,...,...,...,...,...,...,...
476,0,11.20,10,3.07,4,0,0,1,2.09,low,0
478,0,14.16,3,3.75,1,0,0,0,3.82,low,1
483,0,11.59,7,2.86,6,1,0,0,3.83,low,0
497,1,9.89,9,3.46,6,0,0,1,6.46,low,1
499,0,8.46,2,2.12,5,0,0,0,2.97,low,0

In [14]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
data_set_etudiants['confidence'] = le.fit_transform(data_set_etudiants['confidence'])
etudiants_a_predire['confidence'] = le.transform(etudiants_a_predire['confidence'])

In [15]:
data_set_etudiants.corr()

,international,hours_study,missed_classes,gpa,showers_per_week,does_smoke,does_homework,has_stress,avg_sleep,confidence,passed
international,1.000000,-0.039463,-0.012943,0.024649,-0.053107,-0.004824,-0.019959,0.034463,0.046969,0.007011,-0.000780
hours_study,-0.039463,1.000000,-0.010374,0.059547,0.054575,0.064792,0.020590,-0.070710,0.002138,-0.018019,0.402538
missed_classes,-0.012943,-0.010374,1.000000,-0.016542,-0.022854,0.028025,0.003260,-0.025061,0.027976,0.021926,-0.336082
gpa,0.024649,0.059547,-0.016542,1.000000,-0.064764,-0.106164,-0.069922,0.120076,0.006762,0.026996,0.390441
showers_per_week,-0.053107,0.054575,-0.022854,-0.064764,1.000000,0.032979,-0.065001,-0.003952,0.051545,-0.080132,-0.051174
does_smoke,-0.004824,0.064792,0.028025,-0.106164,0.032979,1.000000,0.023945,0.000195,0.010215,0.043280,-0.045765
does_homework,-0.019959,0.020590,0.003260,-0.069922,-0.065001,0.023945,1.000000,0.013036,-0.012476,0.016062,0.154392
has_stress,0.034463,-0.070710,-0.025061,0.120076,-0.003952,0.000195,0.013036,1.000000,0.072464,0.108405,-0.072620
avg_sleep,0.046969,0.002138,0.027976,0.006762,0.051545,0.010215,-0.012476,0.072464,1.000000,-0.009807,0.052293
confidence,0.007011,-0.018019,0.021926,0.026996,-0.080132,0.043280,0.016062,0.108405,-0.009807,1.000000,-0.046588
passed,-0.000780,0.402538,-0.336082,0.390441,-0.051174,-0.045765,0.154392,-0.072620,0.052293,-0.046588,1.000000

### Dans un premier temps nous allons retenir les données ayant une corrélation elevée avec la donnée à expliquer (passed) et faire un modele linéaire.

In [60]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression, LinearRegression
columns = ['hours_study', 'missed_classes', 'gpa', 'does_homework']
X = data_set_etudiants[columns]
Y = data_set_etudiants['passed']
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.9, random_state=42)
print(f"Train set size: {X_train.shape[0]} samples")
print(f"Test set size: {X_test.shape[0]} samples")

Train set size: 50 samples
Test set size: 450 samples

In [61]:
logistic_model = LogisticRegression()
logistic_model.fit(X_train, Y_train)

LogisticRegression()

In [62]:
print(f"Logistic Regression Accuracy: {logistic_model.score(X_test, Y_test)}")

Logistic Regression Accuracy: 0.8355555555555556

In [63]:
Y_passed_pred = logistic_model.predict(etudiants_a_predire[columns])
etudiants_a_predire['passed'] = Y_passed_pred

In [64]:
etudiants_a_predire

,international,hours_study,missed_classes,gpa,showers_per_week,does_smoke,does_homework,has_stress,avg_sleep,confidence,passed
0,0,7.84,1,1.73,2,1,1,0,5.66,0,1
1,1,3.26,12,3.80,3,0,1,1,4.01,2,0
2,0,3.74,11,2.40,3,1,1,1,3.20,2,0
3,1,17.45,0,2.98,2,0,1,0,6.24,2,1
4,0,1.62,9,3.99,3,0,1,1,5.52,2,0
5,0,4.99,11,2.92,6,0,1,1,7.89,2,0
6,1,5.24,11,3.17,3,0,1,0,7.95,0,0
7,0,11.04,12,3.03,4,0,0,0,7.49,1,0
8,0,16.41,4,2.82,2,1,0,0,7.20,2,1
9,0,3.87,1,3.01,2,0,0,0,2.60,0,1

In [65]:
etudiants_a_predire.to_csv("predicted_students.csv", index=False)